@use '../../styles/mixins' as mxn;


.signup__form {
    max-width: 500px;
    margin: 0 auto;


    p {
      
        a {
          color:var(--purple-light);
        }
      }

      button {
        margin : 0 auto;
      }
    
}

