@use "../../styles/mixins"as mxn;



.latest-animes {
    h1 {
        margin-bottom: 0;
    }

    h2 {

        color: var(--gray);
        font-size: var(--text-sm);
        line-height: 3;
        text-align: center;
    }

    &__wrapper {

        @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
        gap: var(--gap-3);

        article {
            @include mxn.card;

            h1 {
                margin-top: 0;
            }



        }
    }





    button {
        margin: var(--m-5) auto var(--m-4);
    }


}