@use "../../styles/mixins"as mxn;

.button {
    margin: var(--m-4) auto;
}

.latest-animes {

    &>h1 {

        margin: var(--m-4);

    }

    &__wrapper {

        @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
        gap: var(--gap-3);
    }



    article {
        @include mxn.card;



    }

    button {
        margin: var(--m-5) auto var(--m-4);
    }


}