@use '../../styles/mixins' as mxn;


.search-results-page {

    width: var(--w-full);
    margin:  var(--m-4) 0;

    h1 {
        text-align: center;
        margin-bottom: var(--m-4);

    }

    .wrapper {
     
        &__card {
            @include mxn.card;

        
          
        }
    }

    button {
        margin: var(--m-4) auto;
    }
    .button {
        margin: 0 auto;
    }
    
}