@use "./mixins" as mxn;
///Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



html {
  display: flex;
  font-size: 62.5%;
  min-height: 100%;
  flex-direction: column;
  color:white;
  font-family: 'Poppins', sans-serif;

}
a {
  color: var(--white);
  text-decoration: none;
}

.active {
  color: var(--purple-light);
}

.error-txt {
  width: 100%;
  p {
    margin-bottom: var(--m-2);
  }
  img {
    max-width: 30rem;
    margin: 0 auto;
    display: block;
  }
  button {
    max-width: 50%;
    margin:0 auto;
    display: block;
  }
}

body {
  flex: 1 0;
  display: flex;
  line-height: 1.618;
  flex-direction: column;
  font-size: var(--text-sm);
  -webkit-font-smoothing: antialiased;
  background: var(--gradient-bg);
}

*[class*="adaptative-img"] {
  position: relative;
}

*[class*="adaptative-img"] > img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.adaptative-img--cover > img {
  object-fit: cover;
}

.adaptative-img--contain > img {
  object-fit: contain;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: var(--text-xl);
  padding-bottom: var(--p-3);
}

.button,
.input {
  font-size: var(--text-sm);
}

.label {
  font-size: var(--text-s);
}

.card {
  border-radius: var(--rounded);
  box-shadow: 6px 6px 0 var(--shadow-color), 0 0 0 2px var(--shadow-color);
}

 //Text alignement
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.icon {
  max-width: 5rem;
  display: block;
}


//padding
 .p-1 {
  padding: var(--p-1);
 }

 .p-2 {
  padding: var(--p-2);
 }

 .p-3 {
  padding: var(--p-3);
 }

 .p-4 {
  padding: var(--p-4);
 }

 .p-5 {
  padding: var(--p-5);
 }

 .p-6 {
  padding: var(--p-6);
 }


 //margin
 .m-1 {
  padding: var(--m-1);
 }

 .m-2 {
  padding: var(--m-2);
 }

 .m-3 {
  padding: var(--m-3);
 }

 .m-4 {
  padding: var(--m-4);
 }

 .m-5 {
  padding: var(--m-5);
 }

 .m-6 {
  padding: var(--m-6);
 }

//Modal

.modal {
    position:fixed;
    inset: 0;
    background-color: rgba(30 41 59 / 0.95);
    padding: var(--p-5);   
}

//Wrapper
.wrapper {
        @include mxn.flex('row', 'wrap');
            @include mxn.flex-p('center', 'center');
        gap:2rem;

        @include mxn.media-query('780px') {

            @include mxn.flex-p('center', 'start');
        

        }

        &__errorBtn {
            
        }
    

        &__card {
        position:relative;
        @include mxn.flex('column', 'wrap');
        @include mxn.flex-p('space-around', 'start');
    

        @include mxn.card;
            
        

          
         
            

            }
    }

//  Animation

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


@keyframes pulse {
  0%,100%{ transform: scale(1);}
  50% {transform: scale(1.2);}
}