@mixin container() {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
}

//FONTS

@mixin text-xxs {
  font-size: 1rem; /* 10px */
  line-height: 1.4rem; /* 14px */
}


@mixin text-xs {
  font-size: 1.2rem; /* 12px */
line-height: 1.6rem; /* 16px */
}



@mixin text-s {
  font-size: 1.4rem; /* 14px */
  line-height: 2rem; /* 20px */
}


@mixin text-lg {
  font-size: 1.8rem; /* 18px */
  line-height: 2.8rem; /* 28px */
}

@mixin text-xl {
  font-size: 2rem; /* 20px */
  line-height: 2.8rem; /* 28px */
}


@mixin text-2xl {
	font-size: 2.4rem; /* 24px */
line-height: 3.2rem; /* 32px */
}

@mixin text-3xl {
	font-size:3rem; /* 30px */
line-height: 3.6rem; /* 36px */
}

@mixin text-4xl {
  font-size: 3.6rem; /* 36px */
  line-height: 4rem; /* 40px */
}

@mixin text-5xl {
	font-size: 4.8rem; /* 48px */
line-height: 4.2rem;
}
@mixin text-sm {
  font-size: 1.6rem; /* 16px */
  line-height: 2.4rem; /* 24px */
}






//Mixin Position 
@mixin flex($direction: "row", $wrap: "wrap") {
  display: flex;
  flex-wrap: #{$wrap};
  flex-direction: #{$direction};
}

@mixin flex-p($justify-content: "center", $align-items: "space-between") {
  justify-content: #{$justify-content};
  align-items: #{$align-items};
}


@mixin grow($size: 1) {
  flex-shrink: 0;
  flex-basis: 0%;
  flex-grow: #{$size};
}

//Box Shadow
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

//Transition
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

// Animation bounce
@mixin bounce {
  animation: bounce 1s infinite; // You can adjust the duration here
}

// Animation pulse
@mixin pulse {
  animation: pulse 1s infinite; // You can adjust the duration here
}

//Media queries
@mixin media-query($size: "780px") {
  @media screen and (min-width: #{$size}) {
    @content;
  }
}


//Btn

@mixin btn {
  
  &:hover,
  &:focus {
    outline: none;
    @include transition(background-color);
  background-color: var(--purple-dark);

  }
  &:active {
    transform: translateY(2px);
  }

  &:focus-within {
    transform: translateY(2px);
  }
  border: none;
  cursor: pointer;
  user-select: none;
  padding: var(--p-1) 12px;
  border-radius: var(--rounded);
  background: var(--purple-light);
  border-radius: var(--rounded);
  width:100%;
  margin: var(--m-1) 0;
  font-weight: bold;
  color: var(--white);
}


// Reset btn

@mixin btn-reset {
  &:focus {
    outline: none; // Supprime la bordure d'accentuation sur le focus
  }

  &,
  &:hover,
  &:active {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    appearance: none;
  }

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


//Reset input
@mixin input-reseter {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: var(--input-color, var(--black-2));
  }
  &:-webkit-outer-spin-button,
  &:-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfiled;
  }
  /* Safari */
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="date"] {
    --input-pad-right: 40px;
  }
  &::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
  }
  border: none;
  outline: none;
  appearance: none;
  font-style: normal;
  background: transparent;
  font-family: var(--font-mono);
  padding-top: var(--input-pad-vert, 8px);
  padding-left: var(--input-pad-left, 12px);
  color: var(--input-color, var(--black-2));
  padding-bottom: var(--input-pad-vert, 8px);
  padding-right: var(--input-pad-right, 12px);
  font-size: var(--input-font-size, var(--font-size-medium));
  font-weight: var(--input-font-weight, var(--font-weight-medium));
}
