@mixin container() {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
}

//FONTS

@mixin text-xxs {
  font-size: 1rem; /* 10px */
  line-height: 1.4rem; /* 14px */
}


@mixin text-xs {
  font-size: 1.2rem; /* 12px */
line-height: 1.6rem; /* 16px */
}



@mixin text-s {
  font-size: 1.4rem; /* 14px */
  line-height: 2rem; /* 20px */
}


@mixin text-lg {
  font-size: 1.8rem; /* 18px */
  line-height: 2.8rem; /* 28px */
}

@mixin text-xl {
  font-size: 2rem; /* 20px */
  line-height: 2.8rem; /* 28px */
}


@mixin text-2xl {
	font-size: 2.4rem; /* 24px */
line-height: 3.2rem; /* 32px */
}

@mixin text-3xl {
	font-size:3rem; /* 30px */
line-height: 3.6rem; /* 36px */
}

@mixin text-4xl {
  font-size: 3.6rem; /* 36px */
  line-height: 4rem; /* 40px */
}

@mixin text-5xl {
	font-size: 4.8rem; /* 48px */
line-height: 4.2rem;
}
@mixin text-sm {
  font-size: 1.6rem; /* 16px */
  line-height: 2.4rem; /* 24px */
}






//Mixin Position 
@mixin flex($direction: "row", $wrap: "wrap") {
  display: flex;
  flex-wrap: #{$wrap};
  flex-direction: #{$direction};
}

@mixin flex-p($justify-content: "center", $align-items: "space-between") {
  justify-content: #{$justify-content};
  align-items: #{$align-items};
}


@mixin grow($size: 1) {
  flex-shrink: 0;
  flex-basis: 0%;
  flex-grow: #{$size};
}

//Box Shadow
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

//Transition
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

// Animation bounce
@mixin bounce {
  animation: bounce 1s infinite; // You can adjust the duration here
}

// Animation pulse
@mixin pulse {
  animation: pulse 1s infinite; // You can adjust the duration here
}

//Media queries
@mixin media-query($size: "780px") {
  @media screen and (min-width: #{$size}) {
    @content;
  }
}


//Card

@mixin card($width: var(--w-s)) {

  width: $width;
  @content;
  background:rgba(60, 16, 83, 0.2);
  border-radius: var(--rounded-md);

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    background-color: rgba(91, 25, 126, 0.2);
    transform: translateY(-5px);
  }

  &__animeImg{
      width: 100%;
      height: 20rem;

      img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center;
          border-top-right-radius: var(--rounded-md);
          border-top-left-radius: var(--rounded-md);
      }
  }
  &__animeInfo{
              
    padding: var(--p-2);
  @include flex('column', 'nowrap');
  @include flex-p('space-between', 'start');
  height: 24rem;
  width: var(--w-full);

    h1 {
        padding:0;
        margin-bottom: var(--m-1);
        font-size: var(--text-md);



        &:hover {
    
            @include transition(color);
            color:var(--purple-light);
        }

    }

  &__tags {


    @include flex('row', "wrap");
  font-size: var(--text-sm);
    gap:1rem;

    margin-bottom: 1.5rem;

  span {
    background-color: rgba(172, 166, 173, .2);
    border-radius: var(--rounded);
    padding: 0 .5rem;
    border: 1px solid transparent;
    &:hover {
    
        @include transition(color);
        color:var(--purple-light);
        background-color: transparent;
        border: 1px solid var(--purple-light);
        cursor: pointer;
    }
    
  }

  }

  &__stats {

    @include flex('row', 'nowrap');
    @include flex-p('start', 'center');
    width: var(--w-full);

    div {

        @include flex('row', 'nowrap');
        @include flex-p('start', 'center');

        &:first-child {
        flex:1;

        }

        &:last-child {
        flex:2;
        & img:last-of-type {
            max-width: 3.4rem;
            
            
        }

        }

    
    
        &:hover {
    
            @include transition(color);
            color:var(--purple-light);
        }
        img {
            max-width: 2.5rem;
            display: block;
            padding-right: 0.53rem;
            
        }
    
    }




  }

  }
  &__btn {
    font-weight: bold;
    color: var(--white);
    @include flex('row', 'nowrap');
    @include flex-p('start', 'center');
    margin-top: var(--m-1);


&:hover {
    @include transition(color);
    color:var(--purple-light);
    img {
        @include bounce;
    }
    


}
img {
    max-width: 1.5rem;
    display: block;
    margin-left: 1rem;
    
        
}

}
  

}



//Btn

@mixin btn {
  
  &:hover,
  &:focus {
    outline: none;
    @include transition(background-color);
  background-color: var(--purple-dark);

  }
  &:active {
    transform: translateY(2px);
  }

  &:focus-within {
    transform: translateY(2px);
  }
  border: none;
  cursor: pointer;
  user-select: none;
  padding: var(--p-1) 12px;
  border-radius: var(--rounded);
  background: var(--purple-light);
  border-radius: var(--rounded);
  width:100%;
  margin: var(--m-1) 0;
  font-weight: bold;
  color: var(--white);
}


// Reset btn

@mixin btn-reset {
  &:focus {
    outline: none; // Supprime la bordure d'accentuation sur le focus
  }

  &,
  &:hover,
  &:active {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    appearance: none;
  }

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


//Reset input
@mixin input-reseter {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: var(--input-color, var(--black-2));
  }
  &:-webkit-outer-spin-button,
  &:-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfiled;
  }
  /* Safari */
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="date"] {
    --input-pad-right: 40px;
  }
  &::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
  }
  border: none;
  outline: none;
  appearance: none;
  font-style: normal;
  background: transparent;
  font-family: var(--font-mono);
  padding-top: var(--input-pad-vert, 8px);
  padding-left: var(--input-pad-left, 12px);
  color: var(--input-color, var(--black-2));
  padding-bottom: var(--input-pad-vert, 8px);
  padding-right: var(--input-pad-right, 12px);
  font-size: var(--input-font-size, var(--font-size-medium));
  font-weight: var(--input-font-weight, var(--font-weight-medium));
}
