@mixin container() {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
}


//Mixin Position 
@mixin flex($direction: "row", $wrap: "wrap") {
  display: flex;
  flex-wrap: #{$wrap};
  flex-direction: #{$direction};
}

@mixin flex-p($justify-content: "center", $align-items: "space-between") {
  justify-content: #{$justify-content};
  align-items: #{$align-items};
}


@mixin grow($size: 1) {
  flex-shrink: 0;
  flex-basis: 0%;
  flex-grow: #{$size};
}

//Box Shadow
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

//Transition
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}


//Media queries
@mixin media-query($size: "780px") {
  @media screen and (min-width: #{$size}) {
    @content;
  }
}



// Reset btn

@mixin btn-reset {
  &:focus {
    outline: none; // Supprime la bordure d'accentuation sur le focus
  }

  &,
  &:hover,
  &:active {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  }

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


//Reset input
@mixin input-reseter {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: var(--input-color, var(--black-2));
  }
  &:-webkit-outer-spin-button,
  &:-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
  /* Safari */
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="date"] {
    --input-pad-right: 40px;
  }
  &::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
  }
  border: none;
  outline: none;
  appearance: none;
  font-style: normal;
  background: transparent;
  font-family: var(--font-mono);
  padding-top: var(--input-pad-vert, 8px);
  padding-left: var(--input-pad-left, 12px);
  color: var(--input-color, var(--black-2));
  padding-bottom: var(--input-pad-vert, 8px);
  padding-right: var(--input-pad-right, 12px);
  font-size: var(--input-font-size, var(--font-size-medium));
  font-weight: var(--input-font-weight, var(--font-weight-medium));
}
