@use "../../styles/mixins" as mxn;


.filtered {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--purple-light);
      @include mxn.transition(width, 0.1s, ease-in-out);
    }
    &:hover {
        &:before {
          width: 0%;
        }
      }
  
  }
  

.your-collection {
 
    &__headings {
        @include mxn.flex('column', 'wrap');
        @include mxn.flex-p('center', 'center');
      
        h1, h2 {
            text-align: center;
            line-height: 0;
          }
    
    
          h2 {
            color: var(--gray);
            font-size: var(--text-sm);
            line-height: 3;
          }

          margin-bottom: var(--m-6);
    }


    &__lists {


        &__log-out {
            @include mxn.flex('row', 'nowrap');
       
            width: 45%!important;
            gap: var(--gap-3);
            margin: 0 auto;

            & button:last-of-type {
                background-color: transparent!important;
                border: solid 2px var(--purple-light);
            }
            
        }

     
        &__filters {
           @include mxn.flex('row');
         
        
           gap: var(--gap-3);
           cursor: pointer;

          p {
            border-bottom: 2px solid transparent;
            margin-bottom: var(--m-6);

            &:hover {
                @include mxn.transition(color);
                color:var(--purple-light);               
               }

              
          }
        }


        &__card {
            max-width: 28rem;
            width: var(--w-md);
            min-height: 20rem;
            background:rgba(60, 16, 83, 0.2);
            border-radius: var(--rounded-md);
            padding: var(--p-2)
        }

         }



}























.wrapper {
    @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
    gap:2rem;

    @include mxn.media-query('780px') {

        @include mxn.flex-p('center', 'start');
    

    }
 

    &__card {
        max-width: 28rem;
        width: var(--w-md);
        min-height: 20rem;
        background:rgba(60, 16, 83, 0.2);
        border-radius: var(--rounded-md);
        
        &__animeImg{
            width: 100%;
            height: 20rem;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                object-position: center;
                border-top-right-radius: var(--rounded-md);
                border-top-left-radius: var(--rounded-md);
            }
        }

        &__animeInfo{
            padding: var(--p-2);

            h1 {
                padding:0;
                margin-bottom: var(--m-1);
                font-size: var(--text-md);

            }

           &__tags {


            @include mxn.flex('row', "wrap");
          font-size: var(--text-sm);
            gap:1rem;
            margin-top: var(--m-3);
            margin-bottom: 1.5rem;

          
           }

           &__stats {

            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('space-between', 'center');
            margin-bottom: 1.5rem;
            font-size: var(--text-sm);
            

            img {
                max-width: 2rem;
                display: block;
            }
           }

        }

        &__btn {
            font-weight: bold;
            color: var(--white);
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');
          

            img {
                max-width: 1.5rem;
                display: block;
            }
        }
        

        }
}