@use '../../styles/mixins'as mxn;


.user-settings {

    max-width: var(--w-sm);
    margin: 0 auto;

    h1 {
        text-align: center;
        text-decoration: wavy;

    }

    h2 {
        margin: var(--m-3) 0px;
    }


    button {
        max-width: var(--w-s);
    }



    &__updates__avatar {

        width: 100%;
        margin-top: var(--m-4);
        margin-bottom: var(--m-4);



        @include mxn.media-query('760px') {
            @include mxn.flex('row', 'nowrap');

        }

        &>div>img {
            max-width: 18rem;
            margin-bottom: var(--m-2);

            &:hover {
                transform: scale(1.1);
                @include mxn.transition(transform);
            }

        }

        div:nth-child(2) {
            .icon {
                max-width: 3rem;
                background-color: var(--purple-light);
                padding: .5rem;
                border-radius: var(--rounded);
                cursor: pointer;
                margin: 3rem auto 0;

                @include mxn.media-query {
                    margin: 13rem auto 0rem;

                }
            }

            .avatar-grid {
                gap: 1rem;
                height: 10rem;
                display: grid !important;

                img {
                    max-width: 15rem;

                }


            }

            gap:2rem;


        }

        // Avatar grid
        .avatar-grid {
            gap: 1rem;
            height: 10rem;
            display: grid !important;

            img {
                max-width: 15rem;

            }


        }

        gap:2rem;
    }

    &__updates__infos {

        h3 {
            display: inline-block;
            margin-bottom: var(--m-1);

            img {
                margin-left: 1rem;
            }
        }

        img {
            max-width: 3rem;
            background-color: var(--purple-light);
            padding: 0.5rem;
            border-radius: 1rem;
            margin-left: 1rem;
            display: inline-block;
            position: relative;
            top: 1rem;
        }


        .mobile-margin {
            margin-top: 14rem;


            @include mxn.media-query('400px') {
                margin-top: 22rem;

            }
        }

        &__email__inputs {
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');

            .icon {
                top: -1rem;
            }



        }

        &__pseudo__inputs {
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');

            .icon {
                top: -1rem;
            }



        }

        &__pass__inputs {
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');

            .icon {
                top: -1rem;
            }



        }



    }

    &__account {
        margin-top: var(--m-5);
        background-color: rgba(60, 16, 83, .4);
        border-radius: 1rem;
        padding: var(--p-2);
        width: var(--w-full);

        h2 {
            text-align: center
        }

        &__controls {

            @include mxn.flex('row', 'wrap');
            gap: var(--gap-2);
            @include mxn.flex-p('center', 'center');

            @include mxn.media-query('520px') {
                @include mxn.flex-p('space-between', 'center');
            }
        }
    }




}