@use '../../styles/mixins' as mxn;

.modal-content {
    background: linear-gradient(0deg, rgba(25,4,32,1) 0%, rgba(6,0,8,1) 100%);
    width: var(--w-sm);
    padding: var(--p-6);
    @include mxn.flex('column', 'nowrap');
    @include mxn.flex-p('center', 'center');
    border-radius: var(--rounded);
    
    h1 {
        text-align: center;
    }

    &__controls {
        @include mxn.flex('row', 'nowrap');
        @include mxn.flex-p('space-around', 'center');
        gap:8rem;
        width: var(--w-full);
        padding-top: var(--p-2);

        button {
            max-width: 50%;
        }
        button:first-child {
            @include mxn.btn(var(--gray), var(--purple-light));

        }
        button:last-child {
            @include mxn.btn;
        }
        
    }
}