@use '../../styles/mixins'as mxn;


.genre__body {



    &__wrapper {

        @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
        gap: var(--gap-3);



    }

    article {
        @include mxn.card;



    }



    .ErrorContent-wrapper {
        text-align: center;

        &>div:last-child {
            max-width: 50%;
            margin: 0 auto;
            gap: var(--gap-2);
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('center', 'center');


        }
    }

    .button {
        margin: var(--m-4) auto;
        ;
    }
}

.latest-animes__wrapper.lightmode {

    article {
        h3 {
            color: black
        }

        background-color: #d1d8e0;

    }
}