@use '../../styles/mixins'as mxn;


.genre__body {



    &__wrapper {
        @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
        gap: 1.5rem;

        @include mxn.media-query('750px') {
            gap: 4rem;

        }

        article {
            @include mxn.btn;
            padding: var(--p-2) var(--p-3);
            width: 30rem;
            text-align: center;

        }

    }

    text-align: center;

    .ErrorContent-wrapper {
        text-align: center;



        &>div:last-child {
            max-width: 50%;
            margin: 0 auto;
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('center', 'center');


        }
    }
}