@use "../../styles/mixins" as mxn;


.hidden {
    display: none!important;;
}

.header__nav  {
     @include mxn.flex('row', 'nowrap');
     @include mxn.flex-p('space-between', 'center');
     
        @include mxn.media-query(780px){

            @include mxn.flex-p('space-between', 'center');
            gap: var(--gap-2);

        }
        .logo {
        width: 20rem;
            max-width: 20rem;

        }

    &__logoContainer {
        max-width: 10rem;
        position: relative;
        top: 7px;
        margin-right: var(--m-5);

        @include mxn.media-query('780px') {
            margin-right: 10rem;
            height: 10rem;
        }
    
    }
&__icon {
    max-width: 2rem;
}
    &__menu {

      li {
       margin-bottom: var(--m-1);


       @include mxn.media-query('780px') {
        display: inline-block;
        margin-left: var(--m-1);
        font-size: var(--text-lg);

       }
   
       
a {
    @include mxn.flex('row', 'nowrap');
    @include mxn.flex-p('start', 'center');
    &:hover {
        @include mxn.transition(color);
        color: var(--purple-light)!important;

       }

    img {
        max-width: 2rem;
        display: block;
        margin-right: 1rem;
    }
}
      

       
      }
        &__icon-close {
            @include mxn.media-query('768px') {
                display: none!important;
            
      
            
            }   
        }

    }
}