@use "../../styles/mixins" as mxn;

.flex {
    display: flex;
}

.connexion {
    font-size: var(--font-lg);
    max-width: 70%;
    margin: 0 auto;
    &__logo{
        max-width: 200px!important;
    }
    img {
        max-width:100px;
    }

    &__wrapper__greetings__text {
        margin-bottom: var(--margin-s);

       span {
        font-weight: normal;
        font-size: var(--text-md);
       }

       span:nth-child(2) {
        font-style: italic;
        margin-left: var(--margin-s);
    }

    }
    &__footer {

        padding: var(--p-1);
        span {
            color: var(--purple-light);
        }
        p {
            margin: var(--m-2);
        }
        
        &__wrapper {
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('center', 'center');
            gap: var(--gap-2);
           
            &__bar {
                background: var(--gray);
                width: 5rem;
                height: .7rem;
                border-radius: var(--rounded);
            }
            &:hover {
                background-color: var(--white);
            }
        }

       
    }
   
    
}


.desktop{
    display:none
}

// From Desktop
@media (min-width: 768px) {
    .connexion {
        max-width: 60%;
    &__footer {
                   display:none;
        
        }
    }
    
      .desktop {
      
        max-width: 40%;  
        @include mxn.flex('column', 'nowrap');
        @include mxn.flex-p('center', 'center');
        gap: var(--gap-2);
       
       
       
      img {
        max-width: 50rem;
      }
      }
   
  }

  