@use "../../styles/mixins" as mxn;

.trending-animes {
    @include mxn.flex('column', 'wrap');
    @include mxn.flex-p('center', 'center');
    gap: var(--gap-3);
    max-width:1200px;

 &__headings {
    h1, h2 {
        text-align: center;
        line-height: 0;
      }


      h2 {
        color: var(--gray);
        font-size: var(--text-sm);
        line-height: 3;
      }
 }
}


.wrapper {
    @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
    gap:2rem;

    @include mxn.media-query('780px') {

        @include mxn.flex-p('center', 'start');
    

    }
 

    &__card {
      position:relative;
      @include mxn.flex('column', 'wrap');
      @include mxn.flex-p('space-around', 'start');
   

        &:hover {
            transition: all 0.2s ease-out;
            box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
            top: -4px;
            background-color: rgba(91, 25, 126, 0.2);
            transform: translateY(-5px);
        }

        max-width: 28rem;
        width: var(--w-md);
        min-height: 43rem;
        background:rgba(60, 16, 83, 0.2);
        border-radius: var(--rounded-md);
        
        &__animeImg{
            width: 100%;
            height: 20rem;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                object-position: center;
                border-top-right-radius: var(--rounded-md);
                border-top-left-radius: var(--rounded-md);
            }
        }

        &__animeInfo{
         
            padding: var(--p-2);
           @include mxn.flex('column', 'nowrap');
           @include mxn.flex-p('space-between', 'start');
           height: 24rem;
           width: var(--w-full);
           
            h1 {
                padding:0;
                margin-bottom: var(--m-1);
                font-size: var(--text-md);



                &:hover {
            
                    @include mxn.transition(color);
                    color:var(--purple-light);
                }

            }

           &__tags {


            @include mxn.flex('row', "wrap");
          font-size: var(--text-sm);
            gap:1rem;
          
            margin-bottom: 1.5rem;

           span {
            background-color: rgba($color: var(--gray), $alpha: .5);
            border-radius: var(--rounded);
            padding: 0 0.2rem;

            &:hover {
            
                @include mxn.transition(color);
                color:var(--purple-light);
            }
            
           }
          
           }

           &__stats {
        
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');
            width: var(--w-full);

            div {

                @include mxn.flex('row', 'nowrap');
                @include mxn.flex-p('start', 'center');

                &:first-child {
                 flex:1;

                }

                &:last-child {
                  flex:2;

                }

              
               
                &:hover {
            
                    @include mxn.transition(color);
                    color:var(--purple-light);
                }
                img {
                    max-width: 2.5rem;
                    display: block;
                    padding-right: 0.53rem;
                    
                }
            }

           

           
           }

        }

        &__btn {
            font-weight: bold;
            color: var(--white);
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('start', 'center');
            margin-top: var(--m-1);


          &:hover {
            @include mxn.transition(color);
            color:var(--purple-light);
            img {
                @include mxn.bounce;
            }
             

       
        }
        img {
            max-width: 1.5rem;
            display: block;
            margin-left: 1rem;
            
                  
        }
        
    }
        

        }
}