@use "../../styles/mixins" as mxn;

.trending-animes {
    @include mxn.flex('colum', 'wrap');
    @include mxn.flex-p('center', 'center');
    gap: var(--gap-3);
    max-width:1200px;

 &__headings {
    h2, h3 {
        text-align: center;
      }


      h3 {
        color: var(--gray);
        font-size: var(--text-sm);
        line-height: 3;
      }
 }
}

