@use "../../styles/mixins"as mxn;

.trending-animes {
    @include mxn.flex('column', 'wrap');
    @include mxn.flex-p('center', 'center');
    gap: var(--gap-3);
    max-width: 1200px;

    &__headings {

        h1,
        h2 {
            text-align: center;
            line-height: 0;
        }


        h2 {
            color: var(--gray);
            font-size: var(--text-sm);
            line-height: 3;
        }
    }




    button:last-of-type {
        max-width: var(--w-s);
    }



}