@use '../../styles/mixins'as mxn;


.genre__body {


    h1,
    h2 {
        text-align: center;
        line-height: 0;
    }


    h2 {
        color: var(--gray);
        font-size: var(--text-sm);
        line-height: 3;
        margin-bottom: var(--m-5);
    }

    &__wrapper {
        @include mxn.flex('row', 'wrap');
        @include mxn.flex-p('center', 'center');
        gap: 1.5rem;

        @include mxn.media-query('750px') {
            gap: 4rem;

        }

        article {
            @include mxn.btn;
            padding: var(--p-2) var(--p-3);
            width: 30rem;
            text-align: center;

        }

    }
}