@use '../../styles/mixins' as mxn;


.slider-container {
    width: 84vw;
    height:63vh;
    padding: 0px var(--p-5);
    background-image: -webkit-linear-gradient(90deg, rgb(37, 6, 48) 0%, #25041f 100%);






    .anime-details__hero{
    
      display: flex!important;
    }
}