@use '../../styles/mixins'as mxn;




.anime-details {
    h1 {
        text-align: left;
    }


    &-additionalinfos {

        span {
            font-weight: bold;



        }

        p {
            margin-top: 1rem;
        }

        ul {
            @include mxn.flex('row', 'wrap');

        }

        li {
            display: inline-block;
        }

        article:nth-child(2) {
            a {
                margin-left: .3rem;
            }
        }

    }
}

.anime-details.lightmode>*,
.anime-details-synopsis.lightmode,
.anime-details-synopsis.lightmode>* {

    h3 {
        color: black;
    }

    background-color: #d1d8e0
}





.anime-details-additionalinfos.lightmode>article {
    h3 {
        color: black;
    }

    background-color: #d1d8e0 !important;
}