@use '../../styles/mixins' as mxn;

.anime-details {
    &__hero {
        @include mxn.flex('column', 'nowrap');
        @include mxn.flex-p('center', 'start');


        @include mxn.media-query('500px') {
            @include mxn.flex('row', 'nowrap');
            @include mxn.flex-p('center', 'center');
            
        }
   
       
                padding: var(--p-2);
            
            
                img {
                    max-width: 20rem;

                    @include mxn.media-query('780px') {
                        max-width: 30rem;
                    }
                }

                &__r {
                    @include mxn.flex('column', 'nowrap');
                    @include mxn.flex-p('center', 'center');
                    padding: var(--p-2);
                    @include mxn.media-query('780px') {
                        padding: var(--p-6);
                    }
                    &__date-info {
                        width: var(--w-full);
                        @include mxn.flex('column', "wrap");
                        @include mxn.flex-p('start', "start"); 
                        gap: 2rem;

                      @include mxn.media-query('500px') {
                        @include mxn.flex('row', "wrap");
                        @include mxn.flex-p('space-between', "start"); 
                      }
    
                        .airing {
                            background-color: var(--green);
                        }
    
                        .finished {
                            background-color: var(--red);
                            
                        }
    
                        .finished, .airing, p:last-child {
                            font-weight: bold;
                            border-radius: var(--rounded);
                            padding:0 var(--p-1) ;
                            @include mxn.text-xs;
                        }
    
    
                        p:last-child {
                        background-color: rgba($color: #ffffff, $alpha: 0.1);
                    
                
    
                        }
                    }
                    
                   &__main {

                            div {
                                margin: var(--m-3) 0;

                                p:first-child {
                                    @include mxn.text-s;
                                    color: var(--gray);

                                }
                                p:last-child{
                                    font-weight: bold;
                                    @include mxn.text-lg;
                                }
                            }
                   
                          span {
                            @include mxn.text-xxs;
                            @include mxn.media-query('780px') {
                                @include mxn.text-xs;
                            }
                           

                          }

                          h1 {
                            @include mxn.text-2xl;
                            padding: var(--p-1) 0;
                          }

                          p{
                            @include mxn.text-xxs;
                            font-weight: bold;

                            @include mxn.media-query('780px') {
                                @include mxn.text-xs;
                            }
                          }

                          button {
                            width: 50%;
                          }
                   }
                    

                }
         
      }

    
}